html
    head 
        title Hello Pug! 

    body
        =title 
        br
        b #{message}
        h1 Hello Pug!
        span(style="color:white;background-color:red",id=12) This is a paragraph. Fifth line.
        p This is a paragraph. First line.
        p This is a paragraph. Second line.
        | This is a paragraph. Third line.
        br
        | This is a paragraph. Fourth line.
        include footer.pug